html, body{
  margin: 0;
  height: 100%;
}

body {
  padding-top: 2rem;
  font: 10px "Century Gothic", Futura, sans-serif;
  background: #fce7e9;
}

ol, ul {
  padding-left: 30px;
}

@keyframes hue-shift {
  from{
      filter: hue-rotate(0);
  }
  to{
      filter: hue-rotate(360deg);
  }
}

.container{
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

.login-container{
  display: flex;
  flex-direction: column;
}

.title-container{
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2.5rem;
  color: #4F495F;
  text-align: center;
  margin-bottom: 2rem;
  
  position: relative;
}

.title{

}

/* From top left: right-down-left-up*/
@keyframes moveAround {
  0%{
    top: 0%;
    left: 0%;
  }
  25%{
    top: 0%;
    left: calc(100% - 3rem);
  }
  50%{
    top: calc(100% - 3rem);
    left: calc(100% - 3rem);
  }
  75%{
    top: calc(100% - 3rem);
    left: 0%;
  }
  100%{
    top: 0%;
    left: 0%;
  }
}

/* From bottom right: left-up-right-down*/
@keyframes moveAroundOpposite {
  0%{
    top: calc(100% - 3rem);
    left: calc(100% - 3rem);
  }
  25%{
    top: calc(100% - 3rem);
    left: 0%;
  }
  50%{
    top: 0%;
    left: 0%;
  }
  75%{
    top: 0%;
    left: calc(100% - 3rem);
  }
  100%{
    top: calc(100% - 3rem);
    left: calc(100% - 3rem);
  }
}

.emoji{
  position: absolute;
  animation: moveAround 10s infinite;
}

.emoji-opposite{
  position: absolute;
  top: 100%;
  left: 100%;
  animation: moveAroundOpposite 10s infinite;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90%;

}

.login-input{
  background: #ffd2d6;
  border: 3px #4F495F solid;
  border-radius: 50px;
  color: #4F495F;
  width: 50%;
  padding: 15px 20px;
  outline: none;
  margin-bottom: 1rem;
  opacity: 0.8;

  transition: 0.4s;
}

.login-input:focus{
  opacity: 1;
  background: #FFC0EA;
}

.login-button{
  width: 100%;
  border: none;
  color: #FFC0EA;
  text-transform: uppercase;
  text-decoration: none;
  background: #4F495F;
  opacity: 0.85;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  transition: 0.4s;
}

.login-button:hover{
  opacity: 1;
}

.game-board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.status {
  margin-bottom: 4rem;
  font-size: 30px;
  text-align: center;
}

.board{
  margin-bottom: 0.5rem;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background: pink;
  border: none;
  font-size: 2rem;  
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33%;
  margin-right: 1rem;

  display: flex;
}

.square p{
  width: 100%;
}

.square:hover{
  animation: hue-shift 1s infinite;
}

.square:last-child{
  margin-right: 0;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;
}

.timer{
  font-size: 50px;
}

.reset-button{
  border-radius: 50%;
  border: none;
  background-color: pink;
  background-image: linear-gradient(to left, pink, rgb(252, 215, 222));
  width: 75px;
  height: 75px;
  cursor: pointer;

  transition: 0.3s ease;

  background-image: url('./assets/rematch.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.reset-button:hover{
  animation: hue-shift 1s infinite;
}

.reset-button:disabled{
  opacity: 0.3;
  animation: none;
}

.footer{
  text-align: center;
  font-size: 15px;
}

.gh-link{
  text-decoration: none;
}

@media screen and (max-width: 445px){
  .square {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 390px){
  .square{
    font-size: 1rem;
  }

  .reset-button {
    width: 60px;
    height: 60px;
  }
}